
.sender{
 width: 100%;
  height: 27vh
}

.sender > :first-child{
  border-radius: 5px !important
}

.sender__icons{
  margin: 5px 0 20px 0;
}

.player {
  position: relative
  display: grid
  grid-gap: 10px
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr))
  min-height: auto
  height: 27vh
   transition: 0.5s;
}
.player-pin{
  position:fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10000000000
  padding-top: 20px;
  margin: 0% auto; 
  width: 100%; 
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
   transition: 0.5s;
   overflow: hidden;
  }
// 
.player>.user-vision {
  background-color: #333
   transition: 0.5s;
  border-radius: 5px !important
  //  height: 35vh
   margin:5px 0

}
.player-pin>.user-vision-pin{
 height: 75%;
  width: 80%;
  z-index: 10000
   transition: 0.5s;
    background-color: #333
  border-radius: 5px !important

}
// 

.player .user-vision {
  position: relative
  margin-bottom: 10px
  height: 27vh
}
.player-pin .user-vision-pin {
  position: relative
  margin-bottom: 10px

}
// 
.player .user-vision .player-vision {
  width: 100%;
  height: 27vh
   transition: 0.5s;
}
.player-pin .user-vision-pin .player-vision-pin{
   height: 100%;
 z-index: 10000
  transition: 0.5s;
}
// 

.player .user-vision .player-vision > :first-child{
  border-radius: 5px !important
}
.player-pin .user-vision-pin .player-vision-pin > :first-child{
  border-radius: 5px !important
}
 
.player .user-vision .ban {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -25px;
  right: 0
  left: 0
  padding: 2px 
  flex-direction: row;
  background-color: #ffffff;
   transition: 0.5s;
}
.player-pin .user-vision-pin .ban {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -25px;
  right: 0
  left: 0
  padding: 2px 
  flex-direction: row;
  background-color: #ffffff;
   transition: 0.5s;
}
.player .user-vision .ban p {
  position: relative;
  margin: 2px 0;
  font-size: 11px;
  word-break: break-all;
  white-space: nowrap;
  color: #242424
}
.player-pin .user-vision-pin .ban p {
  position: relative;
  margin: 2px 0;
  font-size: 11px;
  word-break: break-all;
  white-space: nowrap;
  color: #242424
}

.player .user-vision .central {
  position: absolute;
  top: 2px;
  right: 2px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1px;
  border-radius: 10px;
  opacity: 1;
  transition: opacity 0.3s linear;
}
.player-pin .user-vision-pin .central {
  position: absolute;
  top: 2px;
  right: 2px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1px;
  border-radius: 10px;
  opacity: 1;
  transition: opacity 0.3s linear;
}
.player .user-vision:hover .central {
  opacity: 1;
  // z-index: 2;
  z-index: 100000
}
.player-pin .user-vision-pin:hover .central {
  opacity: 1;
  // z-index: 2;
  z-index: 100000
}
